* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Orbitron', sans-serif;  
}

.contenedorTitulo{
          display: flex;
          flex-direction: column;
          margin: 1rem;
          background-color: #000000;
          color: white;
          border-radius: 5px;                    
}
.tituloPrincipal{
          margin: 10px;
          font-size: 39px;
          text-align: center;
}
/*___________________________________________________________________*/



.contenedorTitulo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: larger;
}
.mainSelectorInicial{
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  align-items: center;
  justify-content: space-around;
  border: solid;
  margin: 5rem;
}

.tarjeta{
  height: 100%;
  width: 20rem;
  margin: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items:center;
  justify-content:flex-end;
  border: solid;
}

.descripcion{
  display: flex;
  padding: 10px;
}

.mainUsuario{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  border: solid;
  margin: 5rem;
  padding: 1rem;
}

.tarjetaUsuario{
 display: flex;
 flex-direction: column;
 margin: 5px;
}

.descripcionUsuario{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buscador{
border: solid;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 10px;
}

.body{
  padding: 10px;
}
.inputLicencias{
margin: 10px;
}
.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: solid;

}
.contenedorLicencia{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.tituloLicencia{
font-size: larger;
}
.contenedorNota{
display: flex;
flex-wrap: wrap;
border: solid;
height: 10rem;
width: 50rem;
margin: 10px;
padding: 5px;
}

.contenedorConcepto{
display: flex;
flex-wrap: wrap;
margin: 10px;
padding: 5px;
justify-content: center;
align-items:start ;
}
.contenedorListado{
  border: solid;
  width: 30rem;
  justify-content: right;
}
/*CONTENEDOR CARDS
.card-group{
          background-color: lightblue;
          height: 40rem;
          margin: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-image: url(/img/fondo.jpg);
}

.card{
          margin: 20px;
          background-color: rgba(139, 141, 142, 0.585);
          height: 31rem;
          display: flex;
          border-radius: 10px;
}
.card-title{
          font-weight: bolder;
          font-size: larger;
}

.card-text{
          text-align: justify;
}

.card-img-top{
          border-radius: 10px;
}


.navbar-bg-body-tertiary{
          font-size: 26px;
          margin: 10rem;
}

#table{
          border-radius: 5px;
          background-color: rgba(7, 10, 24, 0.51);
          font-size: larger;
          font-weight: bolder;
}


.body{
          display: flex;
          flex-direction: column;
          background-image: url(img/fondo.jpg);
          backdrop-filter: blur(20px);

}
.formulario{
          border: solid;
          display: flex;
          align-items: center;
}
.card{
          display: flex;
          height: 30rem; 
                   
}
.borde{
          border: solid;
          height: 25rem;
}
input{
          backdrop-filter: blur(20px);

}*/