.bodyInicio{
        background-color: rgb(0, 13, 255);
        font-family: 'Orbitron', sans-serif;  
        background: rgb(34,193,195);
        background: linear-gradient(325deg, rgba(34,193,195,1) 0%, rgba(31,74,58,1) 100%);
        
}

.contenedorSelector{
          display: flex;
          flex-flow: column; 
          align-items: center;
          margin-left: 28rem;
          justify-content:space-around;
          background-image:url(img/fondo.jpg) ;
          
          width: 40rem;
          height: 7rem;
          border-radius: 10px;
}
.contenedorBotones{
          display: flex;
          list-style: none;
          border-style: double;
          height: 10rem;  
          width: 18rem;      
          backdrop-filter: blur(10px);
          align-items: center;
          
}
.botonAdmin{
          font-family: 'Orbitron', sans-serif;
          color-scheme: dark;  
          color: black;
          
}
.botonSelector{
          font-family: 'Orbitron', sans-serif; 
          color-scheme: dark;  
          color: black;
 
}
.mainFormulario{
        display: flex;
        justify-content: space-between;
        
}
.muestraListado{
        display: flex;
        flex-direction: column;
        border-style:solid;
        padding: 1rem;
        margin: 1rem;

}
.formularioDeIngreso{
display: grid;   

     
}
.headerCargaPersonal{
        display: flex;
        justify-content: center;
}

.barraInferior{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}